@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.card {
  border: hidden;
  width: 290px;
  height: 320px;
  border-radius: 1px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.card:hover{
  box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.6);
}

.img{
  width: 290px;
  height: 200px;
}


.label1{
  font-family: "Open Sans";
  font-weight: 600;
  color: #0F5EF0;
  padding-bottom: 18px;
  font-size: 15px;
}

.label2{
  font-family: "Open Sans";
  font-weight: bold;
  color: #7A8594;
  font-size: 12px;
  padding-bottom: 20px;
}

.label3{
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 12px;
  color: #7A8594;
}

.card-text{
padding-left: 16px;

    padding-top: 20px;
}
