<h1>2. Form</h1>
<div class="form-box__container">
    <form class="form-box__form">
        <div class="">
          <label class="label">Name</label>
            <input matInput class="input-field" placeholder="Enter Name" name="username" type="text">
            <label class="label">Email</label>
            <input matInput class="input-field" placeholder="Enter Email" name="email" type="email">
            <label class="label">Phone Number</label>
            <input matInput class="input-field" placeholder="Enter Phone Number" name="PhoneNumber" type="phone">
            <label class="label">Password</label>
            <input matInput class="input-field" placeholder="Enter Password" name="password" type="password">
            <label class="label">Confirm Password</label>
            <input matInput class="input-field" placeholder="Confirm Password" name="password" type="password">

            <button mat-button type="submit" class="button-default">Save</button>
        </div>



        </form>
</div>

