<div class="epsilon-header">
    <h2>Welcome to Epsilon Coding Challenge</h2>
  <div class="epsilon-header__logo-container">
    <a href="https://us.epsilon.com/" target="_blank" rel="noopener noreferrer" class="epsilon-header__logo">Logo</a>
  </div>
</div>

<div class="card-button">

    <h3>Please use the following buttons to navigate to the sections</h3>

    <button mat-raised-button class="button-default" color="primary" routerLink="/card">Card Component</button>

    <button mat-raised-button  class="button-default" color="primary" routerLink="/form">Form Component</button>

    <button mat-raised-button  class="button-default" color="primary" routerLink="/table">Table Component</button>
</div>

<div class="epsilon-footer__container">
    <div class="epsilon-footer__left-items">
      <a href="https://us.epsilon.com/" target="_blank" rel="noopener noreferrer" class="epsilon-footer__logo">Logo</a>
      <span>&copy; 2019 Epsilon</span>
    </div>
    <div class="epsilon-footer__right-items">
      <a class="twitter-social" href="https://twitter.com/EpsilonMktg" target="_blank" rel="noopener noreferrer">Twitter</a>
      <a class="facebook-social" href="https://www.facebook.com/EpsilonMarketing" target="_blank" rel="noopener noreferrer">Facebook</a>
      <a class="linkedin-social" href="https://www.linkedin.com/company/epsilon/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </div>
  </div>
